[Unit]
Description="Prometheus Postgres Exporter (postgres_exporter)"

[Service]
Type=simple
WorkingDirectory=/opt/postgres_exporter
# and the award for the most uses of the name of the app in a single commandline goes to:
ExecStart=/opt/postgres_exporter/src/postgres_exporter/postgres_exporter --web.listen-address={{ postgres_exporter_web_listen_address }} --extend.query-path="/opt/postgres_exporter/queries.yaml"
User=postgres
Group=postgres
Restart=always
StandardOut=syslog
SyslogIdentifier=postgres_exporter
SyslogFacility=local3
Environment=DATA_SOURCE_NAME="{{ postgres_exporter_data_source_name }}"
[Install]
WantedBy=default.target

